.header {
    background-color: rgba(18, 65, 92, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100vw;
}
.header > ul {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
}
.header > ul > li {
    display: flex;
    margin-left: 50px;
    align-items: center;
    color: white;
}
.visitedNode {
    display: inline-block;
    background-color: lightskyblue;
    margin: 13px;
    width: 25px;
    height: 25px;
}
.unvisitedNode {
    display: inline-block;
    background-color: white;
    margin: 12px;
    width: 25px;
    height: 25px;
}
.shortestPathNode {
    display: inline-block;
    background-color: rgb(251, 255, 0);
    margin: 12px;
    width: 25px;
    height: 25px;
}
.wallNode {
    display: inline-block;
    background-color: rgb(3, 53, 78);
    margin: 12px;
    width: 25px;
    height: 25px;
}